ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1310px;
}
.navbar {
  background-color: #f72211;
  color: white;
  min-height: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.burger {
  cursor: pointer;
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 4px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.55);
}

.main-title-lg {
  font-size: 76px;
  font-family: monospace, arial, sans-serif;
  height: 95px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.article-text {
  font-size: 15px;
}

#login-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  margin-right: 30px;
}

#subscribe-btn {
  border: none;
  font-weight: bold;
  height: 30px;
  background-color: yellow;
  margin-right: 20px;
  border-radius: 15px;
}

.navbar-bottom {
  border-bottom: 1px lightgray solid;
}

.list-item {
  border-right: lightgray 1px solid;
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
}

.search {
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
}

:hover.orange-hover {
  color: #f72210;
}

.list-item-bottom {
  color: #808080;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  font-size: 15px;
}

.active {
  color: black;
}

#temperature {
  font-weight: bold;
}

.section-header {
  margin-top: 10px;
  margin: 0;
  font-size: 16px;
  padding: 0px 0px 11px;
  color: #03030366;
  margin-top: 10px;
}

.left-article-images {
  max-width: 100%;
  width: 100%;
}

.article-genre {
  bottom: 0;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  padding: 5px 10px;
}

.article-title {
  font-size: 24px;
}

.article-title-top-story {
  font-size: 22px;
}

.article-text {
  font-size: 15px;
}

.small-image {
  max-height: 155px;
  max-width: 155px;
}

.my-turn-item {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

.small-image-text {
  font-size: 15px;
  margin-left: 0;
}

.grey {
  color: grey;
  line-height: 1.2;
}

.bold {
  font-weight: bold;
}

.my-turn-header {
  font-size: 16px;
  color: grey;
  font-weight: bold;
  padding: 0 25px;
}

.header-stories {
  font-size: 17px;
}

.stories-text {
  font-size: 15px;
}

.stories-info {
  margin-left: 10px;
  padding-top: 10px;
}

.more-stories-container article {
  border-bottom: 0.5px solid grey;
  padding-bottom: 10px;
}

.avatar-stories-heading {
  font-size: 15px;
}

.avatar-text {
  font-size: 14px;
}

.border-vs-vs {
  position: relative;
  border: 0.5px solid black;
  margin-top: 15px;
  height: 2px;
}

.vs-logo {
  position: absolute;
  top: -14px;
  left: 48%;
  border-radius: 50%;
  z-index: 99;
  background-color: black;
  padding: 5px;
  color: white;
}

.something {
  top: 0px;
}

.header-trumpek {
  position: relative;
}

.over-image {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
}

.features {
  max-width: 100%;
}

.cover {
  background-color: red;
  color: white;
}

.news-info {
  color: red;
}

header-news-info {
  font-size: 18px;
}

.container-images {
  max-width: 290px;
  max-height: 290px;
  height: 100%;
  width: 100%;
}

.content-wrapper article {
  display: block;
  padding-bottom: 100px;
}

@media screen and (min-width: 1000px) {
  .scrollable {
    overflow: scroll;
    height: 1200px;
  }

  .scrollable1 {
    overflow: scroll;
    height: 900px;
  }
}
