ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1310px;
}
.navbar {
  background-color: #f72211;
  color: white;
  min-height: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.burger {
  cursor: pointer;
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 4px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.55);
}

.main-title-lg {
  font-size: 76px;
  font-family: monospace, arial, sans-serif;
  height: 95px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.article-text {
  font-size: 15px;
}

#login-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  margin-right: 30px;
}

#subscribe-btn {
  border: none;
  font-weight: bold;
  height: 30px;
  background-color: yellow;
  margin-right: 20px;
  border-radius: 15px;
}

.navbar-bottom {
  border-bottom: 1px lightgray solid;
}

.list-item {
  border-right: lightgray 1px solid;
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
}

.search {
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
}

:hover.orange-hover {
  color: #f72210;
}

.list-item-bottom {
  color: #808080;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  font-size: 15px;
}

.active {
  color: black;
}

#temperature {
  font-weight: bold;
}

.section-header {
  margin-top: 10px;
  margin: 0;
  font-size: 16px;
  padding: 0px 0px 11px;
  color: #03030366;
  margin-top: 10px;
}

.left-article-images {
  max-width: 100%;
  width: 100%;
}

.article-genre {
  bottom: 0;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  padding: 5px 10px;
}

.article-title {
  font-size: 24px;
}

.article-title-top-story {
  font-size: 22px;
}

.article-text {
  font-size: 15px;
}

.small-image {
  max-height: 155px;
  max-width: 155px;
}

.my-turn-item {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

.small-image-text {
  font-size: 15px;
  margin-left: 0;
}

.grey {
  color: grey;
  line-height: 1.2;
}

.bold {
  font-weight: bold;
}

.my-turn-header {
  font-size: 16px;
  color: grey;
  font-weight: bold;
  padding: 0 25px;
}

.header-stories {
  font-size: 17px;
}

.stories-text {
  font-size: 15px;
}

.stories-info {
  margin-left: 10px;
  padding-top: 10px;
}

.more-stories-container article {
  border-bottom: 0.5px solid grey;
  padding-bottom: 10px;
}

.avatar-stories-heading {
  font-size: 15px;
}

.avatar-text {
  font-size: 14px;
}

.border-vs-vs {
  position: relative;
  border: 0.5px solid black;
  margin-top: 15px;
  height: 2px;
}

.vs-logo {
  position: absolute;
  top: -14px;
  left: 48%;
  border-radius: 50%;
  z-index: 99;
  background-color: black;
  padding: 5px;
  color: white;
}

.something {
  top: 0px;
}

.header-trumpek {
  position: relative;
}

.over-image {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
}

.features {
  max-width: 100%;
}

.cover {
  background-color: red;
  color: white;
}

.news-info {
  color: red;
}

header-news-info {
  font-size: 18px;
}

.container-images {
  max-width: 290px;
  max-height: 290px;
  height: 100%;
  width: 100%;
}

.content-wrapper article {
  display: block;
  padding-bottom: 100px;
}

.section-usa-header {
  color: red;
}

.text-usa {
  font-size: 19px;
}

.image-container-usa {
  max-width: 110px;
  max-height: 77px;
  margin-right: 10px;
}

.item-usa {
  margin-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.footer-logo-large {
  color: #f72210;
  font-size: 23px;
  font-weight: bold;
}

.footer-logo-legal {
  font-size: 12px;
}

.footer-eds {
  color: grey;
}

.footer-grey {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}

.footer-links {
  font-size: 14px;
  color: grey;
}

.orange {
  color: #f72210;
}

.newsbox-title {
  font-size: 22px;
}

.small-newsbox-img {
  width: 110px;
  height: 73px;
}

.large-newsbox-img {
  width: 110px;
  height: 110px;
}

.newsbox-hr {
  margin-top: 10px;
}

.sub-box {
  max-width: 100%;
  background-color: #f4f5f6;
}

.sub-text {
  width: 40%;
}

.simple-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.orange-btn {
  background-color: #f72310;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
}

.newsletter-sign-up {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f4f5f6;
}

.n-logo {
  color: #333;
  font: bold 19px/19px 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.n-logo-margins {
  margin-top: 10px;
  margin-left: 5px;
}

.newsletter-input {
  color: grey;
  width: 80%;
}

.newsletter-btn {
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: url(https://g.newsweek.com/www/images/free-sign-up.svg)
    center/108px no-repeat #f61602;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: 8px;
}

.magazine-img {
  min-height: 290px;
  max-width: 100%;
  margin-top: 10px;
}

.editor-img {
  min-height: 290px;
  max-width: 100%;
  margin-top: 10px;
}

@media screen and (min-width: 1000px) {
  .scrollable {
    overflow: scroll;
    height: 1200px;
  }

  .scrollable1 {
    overflow: scroll;
    height: 900px;
  }
}
